body {
text-align: center;
}

h1, h2, a {
	font-family:Raleway;
}

a {
	text-decoration:none;
}

h1,h2,a {
	text-transform:uppercase;
}

p {
	font-family: "Droid Serif";
	font-size:18px;
	line-height: 26px;
}

#big{
	font-family:Raleway;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
}



#first, #second {
	font-family:Raleway;
	color: #F15B31;
	font-size:18px;
	font-weight:600;
	letter-spacing: 1px;
}

#third{
	font-family:Raleway;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight:600;
	font-size:20px;
}

#word{
	font-family: "Droif Serif";
	line-height:26px;
	font-size:18px;
}

footer{
	text-trasform: uppercase;
	padding: 0px 20px 0px 20px;
	background-color: #0D2C40;
	text-decoration-color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight:500;
}

.copyright{
	font-family: Raleway;
	float: left;
}

.message{
	font-family: Raleway;
	float:right;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

.name{
	color: #F15B31;
	font-weight:700;
}

nav {
	border-bottom: 2px solid transparent;
}

a:hover{
	background-color: white;
}
